.title{
    font-size: 36px;
}

.subheadings{
    font-size: 26px;
    
}

.heading{
    font-weight: bold;
    color:blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Ingredients{
    font-style: italic;
}

body{
    font-family: 'Times New Roman', Times, serif;
    
}

.photo {
    width: 300px;
    height: auto;
}